<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mob_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,68}</string>
                <key>spriteSourceSize</key>
                <string>{101,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{101,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mob_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,47}</string>
                <key>spriteSourceSize</key>
                <string>{92,47}</string>
                <key>textureRect</key>
                <string>{{1,71},{92,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mob_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,60}</string>
                <key>spriteSourceSize</key>
                <string>{89,60}</string>
                <key>textureRect</key>
                <string>{{1,120},{89,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mob.png</string>
            <key>size</key>
            <string>{103,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:320e0b65d56d12304100c5b179331c49:0cb45af2f81e6a274459b053f54a5509:d884afa44572667806886ebd7f491cf7$</string>
            <key>textureFileName</key>
            <string>mob.png</string>
        </dict>
    </dict>
</plist>
