<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>powershot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,69}</string>
                <key>spriteSourceSize</key>
                <string>{39,69}</string>
                <key>textureRect</key>
                <string>{{1,160},{39,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>powershot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,70}</string>
                <key>spriteSourceSize</key>
                <string>{39,70}</string>
                <key>textureRect</key>
                <string>{{1,88},{39,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>powershot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,85}</string>
                <key>spriteSourceSize</key>
                <string>{42,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{42,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>powershot.png</string>
            <key>size</key>
            <string>{44,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2903eaec5163aa120b75154bd253ad4:7bb8f8764c8a79b869de3af4bad15f0f:0f07aadff0ae910126b7d67b1555d79d$</string>
            <key>textureFileName</key>
            <string>powershot.png</string>
        </dict>
    </dict>
</plist>
